# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Ignore Django migration cache
*/migrations/__pycache__/
*/migrations/*.pyc

# Ignore Virtual Environment
venv/
env/
ENV/

# Ignore Media files
# FaceAttendance/media/employees/*
# FaceAttendance/media/attendance_images/*

# Ignore Django admin cache
*/__pycache__/*
**/__pycache__/
.pytest_cache/
.coverage
htmlcov/
