# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Ignore Django migration cache
*/migrations/__pycache__/
*/migrations/*.pyc

# Ignore Virtual Environment
venv/
env/
ENV/

# Ignore Django admin cache
FaceAttendance/attendance/__pycache__/*
*/__pycache__/*
.pytest_cache/
.coverage
htmlcov/

# Ignore Media files
# FaceAttendance/media/employees/*
# FaceAttendance/media/attendance_images/*
*/FaceAttendance/attendance/__pycache__/*.pyc
FaceAttendance/attendance/__pycache__/admin.cpython-313.pyc
